.calendar {
  width: $width;
  color: $main-color;
  font-size: $font-size;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $calendar-padding;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;

  &__day {
    width: $day-size;
    height: $day-size;
    border: $day-border solid $day-border-color;
    background-color: $main-color;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transition:
      background $animation-duration,
      transform $animation-duration;

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
      transform: translateY(-20px);
    }
  }
}

